{% load static %}

<div class="block">
    <a href="{% url 'product-11' %}"><img src="{% static 'img/product-11.jpg' %}" alt="">
        <div class="text">
            <img src="{% static 'img/icon-hover.png' %}" alt="img">
            <h4>Стул повышенного качества</h4>
            <p>Не оторваться. </p>
        </div>
    </a>
</div>
<div class="block">
    <a href="{% url 'product-21' %}"><img src="{% static 'img/product-21.jpg' %}" alt="">
        <div class="text">
            <img src="{% static 'img/icon-hover.png' %}" alt="img">
            <h4>Стул повышенного качества</h4>
            <p>Не оторваться. </p>
        </div>
    </a>
</div>
<div class="block">
    <a href="{% url 'product-31' %}"><img src="{% static 'img/product-31.jpg' %}" alt="">
        <div class="text">
            <img src="{% static 'img/icon-hover.png' %}" alt="img">
            <h4>Стул повышенного качества</h4>
            <p>Не оторваться. </p>
        </div>
    </a>
</div>